<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Opensource online music application. Listen to your favorite artists online for free."
    />
    <meta
      name="keywords"
      content="music, online, artist, artists, bands, free, opensource"
    />
    <meta name="author" content="Kamil Herma" />
    <link rel="icon" href="favicon.ico?v=1.1" />
    <title>WalkMan || Everyday music player</title>
    {{!-- Font Awesome --}}
    <script defer src="/brands.js"></script>
    <script defer src="/solid.js"></script>
    <script defer src="/fontawesome.js"></script>
    {{!-- P5.js --}}
    <script src="https://cdn.jsdelivr.net/npm/p5@1.3.0/lib/p5.js"></script>
    {{!-- Google fonts --}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Chango&display=swap" rel="stylesheet">   
    {{!-- CSS --}}
    <link rel="stylesheet" href="/home.css" />
    <link rel="stylesheet" href="/global.css" />
  </head>
  <body>
    <header class='home__header'>
      <a href="/"><span class="home__logo"><i class="fas fa-music fa-2x"></i> <h2><span class='title__darker'>Walk</span><span class='title__lighter'>Man</span></h2></span></a>
      <nav class='home__nav'>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      </nav>
    </header>
    <main class='home__main'>
      {{{body}}}
    </main>
    <footer class='home__footer'>
      <p class="home__footer--main">&copy; copyright 2021, Kamil Herma<p>
      <p class="home__footer--sub">no spotify intended 😭 <p>
    </footer>
    <script defer src="particles.js"></script>
  </body>
</html>
