<div class="container__form">
  <form class="main__form">
    <div class="input__group">
      <label for="author">Name</label>
      <input type="text" name="author" id="author" />
    </div>
    <div class="input__group">
      <label for="sender">Email</label>
      <input type="email" name="sender" id="sender" />
    </div>
    <div class="input__group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
    </div>
    <div class="input__group">
      <label for="message"> Message</label>
      <textarea name="message" id="message"></textarea>
    </div>
    <div class="input__group">
      <button class="btn__submit" type="submit">Send message</button>
    </div>
  </form>
</div>
