<div class="container__form">
  {{#if isSent}}
  <div class="message isSent">
    Message has been sent! File {{ fileName }} has been saved!
  </div>
  {{/if}}
  {{#if isError}}
  <div class="message isError">You can't leave empty fields!</div>
  {{/if}}
  <form
    action="/contact/send-message"
    method="POST"
    class="main__form contact__form"
  >
    <div class="input__group">
      <label for="author">Name</label>
      <input type="text" name="author" id="author" />
    </div>
    <div class="input__group">
      <label for="sender">Email</label>
      <input type="email" name="sender" id="sender" />
    </div>
    <div class="input__group">
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
    </div>
    <div class="input__group">
      <label for="screen">Screen</label>
      <input
        type="file"
        accept=".jpeg,.jpg,.png,.gif"
        name="screen"
        id="screen"
      />
    </div>
    <div class="input__group input__textarea">
      <label for="message"> Message</label>
      <textarea name="message" id="message"></textarea>
    </div>
    <div class="input__group input__btn">
      <button class="btn__submit" type="submit">Send message</button>
    </div>
  </form>
</div>
