<div class='container__form'>
  <form class='main__form'>
    <div class="input__group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" readonly>
    </div>
    <div class="input__group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="******************" readonly>
    </div>
    <div class="input__group input__checkbox">
      <label for="remember">Remember me</label>
      <input type="checkbox" name="remember" id="remember" value='remember' checked>
    </div>
    <div class="input__group">
      <a class='btn' href='/john-doe/playlists'>Login</a>
    </div>
  </form>
</div>