<div class='container__form'>
  <form class='main__form'>
    <div class="input__group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="john.doe@gmail.com" readonly>
    </div>
    <div class="input__group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="******************" readonly>
    </div>
    <div class="input__group">
      <label for="password">Confirm</label>
      <input type="password" name="password" id="password" placeholder="******************" readonly>
    </div>
    <div class="input__group">
      <a class='btn' href='/john-doe/playlists'>Register</a>
    </div>
  </form>
</div>