/* ================= */
/* Variables */
/* ================= */

:root {
  --main-font: "Chango", cursive;
  --dark: #000;
  --light: #fff;
  --grey: #999;
  --grey-light-1: #f4f4f4;
  --grey-light-2: #dcdde1;
  --grey-dark-1: #111;
  --grey-dark-2: #718093;
  --grey-dark-3: #222;
  --grey-dark-4: #444;
}

/* ================= */
/* Global */
/* ================= */
.app__container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: auto 1fr / auto 1fr auto;
}

button:focus {
  outline-color: var(--light);
}

ul {
  list-style: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey-light-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--grey);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--grey-dark-4);
}

/* ================= */
/* Header */
/* ================= */
.app__header {
  background-color: var(--grey-dark-3);
  border-bottom: 2px solid var(--grey-dark-4);
  color: var(--light);
  grid-column: 2/4;
  grid-row: 1/2;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.app__header a {
  color: inherit;
}

.app__nav {
  margin-left: 50px;
}

.app__nav > * {
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s;
  font-weight: 700;
}

.app__nav .active {
  background-color: var(--light);
  color: var(--dark);
}

.app__header .user {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user .user__icon {
  margin-right: 10px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey);
  border-radius: 50%;
  background: url("https://images.pexels.com/photos/3992435/pexels-photo-3992435.jpeg?cs=srgb&dl=pexels-m%C3%A1ximo-3992435.jpg&fm=jpg")
    no-repeat center center/cover;
}

/* ================= */
/* Main */
/* ================= */
.app__main {
  background-color: var(--grey-dark-1);
  grid-column: 2/4;
  grid-row: 2/4;
}

/* ================= */
/* Aside */
/* ================= */
.app__aside {
  background-color: var(--dark);
  grid-column: 1/2;
  grid-row: 1/4;
  min-width: 250px;
  overflow: hidden;
}

.home__logo {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aisde__playlists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 20px;
  color: var(--grey-light-1);
}

.asice__playlist--list {
  padding: 10px 20px;
  color: var(--grey);
  width: 100%;
  height: 70%;
  overflow: auto;
}
.asice__playlist--item p {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.asice__playlist--item a {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.2s;
}

.asice__playlist--item a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.asice__playlist--item img {
  width: 30px;
  margin-right: 20px;
}

.playlists__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  border-bottom: 2px solid var(--grey);
}

.btn__create {
  border: none;
  background-color: var(--grey-dark-3);
  color: var(--light);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn__create:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn__text {
  margin-left: 10px;
}

.aside__link,
.aside__link a {
  color: var(--grey);
  font-size: 20px;
  text-transform: uppercase;
}

.aside__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aside__link a {
  margin-top: 10px;
  background-color: var(--light);
  padding: 0 50px 0 45px;
  border-radius: 10px;
  transition: all 0.2s;
}

.aside__link a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* ================= */
/* Music Player */
/* ================= */
.player__box {
  background-color: var(--grey-dark-3);
  border-top: 2px solid var(--grey-dark-4);
  color: var(--light);
  grid-column: 1/4;
  grid-row: 4/5;
  min-height: 120px;
}

.player__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100%;
}

.player__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

.player__info figure {
  display: flex;
  align-items: center;
}
.player__info figcaption {
  margin-left: 20px;
}

.player__info img {
  width: 70px;
  height: 70px;
}
.player__info .author {
  color: var(--grey);
}

.player__controll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player__bar {
  width: 50%;
  height: 5px;
  background-color: var(--grey);
  margin-top: 15px;
}

.player__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_player--big {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  margin: 0 10px;
  transition: all 0.2s;
}

.btn_player--big:hover {
  transform: scale(1.1);
}

.btn_player--small {
  border: none;
  background: transparent;
  color: var(--grey);
  transition: all 0.2s;
  padding: 5px;
  border-radius: 5px;
}

.btn_player--small:hover {
  background: rgba(255, 255, 255, 0.3);
  color: var(--light);
}

.player__volume {
  margin-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player__volume--slider {
  margin-left: 10px;
}
