/* ================= */
/* Global */
/* ================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  overflow: hidden;
  line-height: 1.5;
  font-family: Helvetica, sans-serif;
}

body {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* ================= */
/* Logo */
/* ================= */
.home__logo {
  color: var(--light);
}

.title__darker {
  color: var(--grey-dark-2);
  font-family: var(--main-font);
}

.title__lighter {
  color: var(--grey-light-2);
  font-family: var(--main-font);
}

.home__logo h2 {
  float: right;
  margin-left: 20px;
}
